[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
