}}
public/
static/bookmosaic
resources
**/node_modules/
**/node_modules/
**/*.swp
**/node_modules/
**/.hugo_build.lock
**/.DS_Store
static/img/**/*-scaled.*
content/bookshelf.md
content/posts/star-quotes.md
static/star-quotes.md
