body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#photo-container {
    margin-top: 50px;
}

#photo {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0 auto;
}

#buttons {
    margin-top: 20px;
}

#score {
    margin-top: 20px;
}

