<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL | relLangURL }}{{ end }}" style="text-decoration: none;">
  <style>
    .logo {
      display: inline-block;
      position: relative;
    }
    .logo img {
      display: block;
      transition: filter 0.3s ease; /* Smooth transition */
      border: 1px solid white; /* Initial white border */
    }
    .logo img:hover {
      filter: url(#yellow-filter);
      border: none; /* Remove border on hover */
    }
  </style>
  <div class="logo">
    <img src="/logo.png" alt="Hover Image" />
  </div>

  <!-- SVG filter definition -->
  <svg width="0" height="0">
    <defs>
      <filter id="yellow-filter">
        <feColorMatrix type="matrix"
          values="1 0 0 0 1
                  1 0 0 0 0.87450980392
                  0 0 0 0 0
                  0 0 0 1 0" />
      </filter>
    </defs>
  </svg>
</a>

