{{ $js := resources.Get "js/bookshelf.js" }}
{{ $css := resources.Get "css/bookshelf.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />
<script src="{{ $js.RelPermalink }}" type="module"></script>

<div class="bookshelf">
  {{ range.Page.Params.bookshelf_item }}
  <div class="book">
    <div class="side spine" style="background-color:{{ .color }};">
       <span class="spine-title">{{.title | truncate 25 }}</span>
         <span class="spine-author">
           {{ .rating }} <br>
           {{ .number }}
         </span>
    </div>
    <div class="side top"></div>
    <div class="side cover"
         style="background-image: url({{ .cover_img }}); cursor:pointer;"
         onclick="window.open('{{ .cover_link | safeURL }}', '_blank')">
    </div>
  </div>
  {{ end }}
</div>
