{{ if .Get "src" }}
  <figure class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }}" >
    <center>
      {{- $image := resources.Match (printf "img/%s" (.Get "src")) -}}
      {{- with $image -}}
        <a href='{{ .RelPermalink }}'><img src="{{ (.Fill "100x100 q100 Center").RelPermalink }}" {{ with .Get "alt" }} alt="{{ .  | plainify }}" {{ end }} {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ end }} /></a>
      {{- end -}}
    </center>
    {{ if .Get "caption" }}
      <figcaption class="{{ with .Get "captionPosition"}}{{ . }}{{ else -}} center {{- end }}" {{ with .Get "captionStyle" }} style="{{ . | safeCSS }}" {{ end }}>{{ .Get "caption" | markdownify }}</figcaption>
    {{ end }}
  </figure>
{{ end }}
